/* Main */

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
aside,
nav,
footer,
header,
section {
  display: block;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;
}
body {
  line-height: 1;
  font-family: "Redressed", cursive;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* Countdown App */

.countdown {
  background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
  width: 100%;
  min-height: 100vh;
}
.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
.countdown__content {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 60px;
  align-items: center;
}
.countdown__days {
  text-align: center;
  margin: 0 25px;
  color: white;
}
.countdown__days-number {
  font-size: 60px;
  margin-bottom: 10px;
}
.countdown__days-text {
  letter-spacing: 3px;
  font-size: 20px;
}

/* Questionnaire App */

.questionnaire {
  background-image: linear-gradient(
    to top,
    #d5d4d0 0%,
    #d5d4d0 1%,
    #eeeeec 31%,
    #efeeec 75%,
    #e9e9e7 100%
  );
  border-radius: 10px;
  box-shadow: 0 0 20px 10px rgba(117, 95, 95, 0.1);
  overflow: hidden;
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 80px;
}
.questionnaire__container {
  padding: 2rem;
}
h2 {
  padding: 1rem;
  text-align: center;
  font-size: 20px;
  letter-spacing: 3px;
  line-height: 30px;
}
li {
  font-size: 1.2rem;
  margin: 1.5rem 0;
  letter-spacing: 2px;
  line-height: 30px;
}
label {
  cursor: pointer;
}
label:hover {
  text-decoration: underline;
}
button {
  background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
  border: none;
  color: white;
  cursor: pointer;
  display: block;
  font-family: inherit;
  font-size: 1.1rem;
  width: 100%;
  padding: 1.3rem;
  letter-spacing: 3px;
}
button:hover {
  transition: all 0.3s linear;
  background-image: linear-gradient(to right, #d7d2ccc4 0%, #40586ac2 100%);
}
button:focus {
  background-color: #5e3370;
  outline: none;
}

/* @Media */

@media screen and (max-width: 992px) {
  .countdown__content .countdown__days:first-child,
  .countdown__content .countdown__days:last-child {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .countdown__days {
    margin: 0 10px;
  }
  .countdown__days-number {
    font-size: 40px;
  }
  .countdown__days-text {
    letter-spacing: 2px;
    font-size: 16px;
  }
  .questionnaire {
    margin-top: 50px;
  }
}
